.custom-tooltip{
    width: 150px;
    /* height: 50px; */
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 6px;
    opacity: 0.9;
    .label, .desc{
        padding: 0;
        margin: 0;
    }
}
